@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div>
        <label for="Username" class="col-sm-1 col-form-label">Username :</label>
        <input type="text" required />
    </div>
    <div>
        <label for="Password" class="col-sm-1 col-form-label">Password :</label>
        <input type="password" required />
    </div>
    <button class="btn btn-outline-success" type="submit">Login</button>
</form>